*{
                 margin: 0;
                 padding: 0;
                 box-sizing: border-box;
                 font-family: gilroy;
}
html, body{
                 width: 100%;
                 height: 100%;
                 padding: 30px;
}
#page{
                 width: 100%;
                 height: 100%;
                 box-shadow: 0px 0px 100px 10px #000;
}
#nav{
                 width: 100%;
                 height: 10%;
                 /* background-color: #dadada; */
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 position: relative;
}
#nav-logo{
                 display: flex;
                 gap: 5px;
                 margin-left: 40px;
                 margin-top: 25px;
}
#container{
                 display: flex;
}
.circle{
                 width: 12px;
                 height: 12px;
                 background-color: black;
                 border-radius: 50%;
                 margin: 2px 1px;
}
#circle1{
                 background-color: #999;
}
#nav-logo h5{
                 margin-top: 10px ;
                 font-size: 16px;
}
#nav-center{
                 width: 30%;
                 height: 50%;
                 display: flex;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 align-items: center;
                 justify-content: center;
                 justify-content: space-evenly;
                 /* background-color: aqua; */
}
#nav-center h4{
                 font-size: 13px;
                 font-weight: 500;
}
#nav-button{
                 display: flex;
                 width: 17%;
                 justify-content: space-evenly;

}
#nav-button button{
                 padding: 10px 15px;
                 border-radius: 10px;
                 border-width: 3px ;
                 background-color: #fff;
                 border: 3px solid black
}
#nav-button #login-button{
                 border: none;
}
#center{
                 width: 100%;
                 height: 40%;
                 /* background-color: antiquewhite; */
                 display: flex;
                 flex-direction: column;
                 text-align: center;
}
#center h1{
                 font-size: 90px;
                 line-height: 90px;
                 margin-top: 22px;
}
#center p{
                 margin: 35px 0;
                 font-size: 18px;
                 line-height: 25px;
}
#footer{
                 width: 100%;
                 height: 50%;
                 padding: 30px 40px;
                 /* background-color: #555; */
                 display: flex;
                 justify-content: space-between;
                 align-items: flex-end;
}
#footer .frame{
                 width: 19%;
                 height: 100%;
                 /* background-color: navajowhite; */
                 border-radius: 20px;
}
#footer .frame:nth-child(2){
                 height: 70%;
                 background-image: url(https://images.unsplash.com/photo-1521227889351-bf6f5b2e4e37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA4fHxwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
                 background-position: 10% 10%;
                 background-size: cover;
}
#footer .frame:nth-child(3){
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 align-items: center;
}
#footer .frame:nth-child(3) #frame3-part1{
                 background-color: #dadada;
                 text-align: center;
                 border-radius: 15px;
}
#footer .frame:nth-child(3) #frame3-part1 button{
                 padding: 15px 30px;
                 background-color: black;
                 color: #fff;
                 font-size: 17px;
                 border-radius: 10px;
                 border: none;
}
#footer .frame:nth-child(3) #frame3-part1 p{
                 font-size: 13px;
                 margin: 10px 0;
}
#footer .frame:nth-child(3) #frame3-part2{
                 width: 70%;
                 height: 40%;
                 background-color: #869e9c;
                 border-radius: 20px;
                 text-align: center;
}
#footer .frame:nth-child(3) #frame3-part2 h3{
                 /* margin: 22px 0; */
                 padding: 22px 0;
                 font-size: 22px;
}
#footer .frame:nth-child(4){
                 height: 70%;
}
#footer .frame:nth-child(5){
                 background-image: url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
                 background-position: 50% 0%;
                 background-size: cover;
                 overflow: hidden;
}
#footer .frame:nth-child(5) #frame5-overlay{
                 width: 100%;
                 height: 100%;
                 background-color: #00000047;
                 background-position: center;
                 background-size: cover;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
}
#frame5-overlay h1{
                 color: white;
                 font-size: 28px;
                 padding-top: 15px;
                 padding-left: 30px;
                 text-shadow: 5px 5px 5px #000;
}
#frame5-overlay #play{
                 width: 85%;
                 height: 15%;
                 background-color: #00000074;
                 display: flex;
                 align-items: center;
                 gap: 15px;
                 margin-left: 10px;
                 margin-bottom: 10px;
                 border-radius: 15px;
                 transition: all ease 0.5s;
}
#frame5-overlay #play i{
                 color: white;
                 font-size: 40px;
                 margin-left: 10px;
}
#frame5-overlay #play h5{
                 color: white;
                 font-size: 13px;
                 font-weight: 500;
}