*{
                 margin: 0;
                 padding: 0;
                 box-sizing: border-box;
                 font-family: gilroy;
}
html, body{
                 width: 100%;
                 height: 100%;
                 overflow-x:hidden;
}
#page1{
                 width: 100%;
                 height: 100%;
                 padding: 0 150px;
}
#nav{
                 width: 100%;
                 height: 18.5%;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 position: relative;
}
#nav i{
                 font-size: 60px;
                 opacity: .8;
}
i:hover{
                 color: #04c75c;
}
#nav button {
                 padding: 16px 50px;
                 border-radius: 40px;
                 border: 1px solid #000;
                 font-size: 17px;
                 transition: all ease 1s;
}
button:hover{
                 background: linear-gradient(to right, #fff, #04c75c, #00893e);
                 color: black;
}
#nav-center{
                 width: 40%;
                 height: 80%;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 position: absolute;
                 top: 45%;
                 left: 50%;
                 transform: translate(-50%, -50%);
}
#nav-center h3{
                 font-weight: 500;
                 letter-spacing: 2px;
}
#nav-center h3:hover{
                 color: #04c75c;
}
#page1 #nav #nav-center img{
                 width: auto;
                 height: 75%;
}
#page1 #nav #nav-center img:hover{
                 background-image: url(https://uploads-ssl.webflow.com/62bb0a9586616e19ecbb2448/62bb0b3717d5445fea298a71_logo-dark.svg);
                 background-position: center;
                 background-size: cover;
                 border: none;
}
#page1 img{
                 width: 100%;
}
#page1 h1{
                 font-size: 50px;
                 line-height: 1.4;
}
#page1 button{
                 border: 1px solid #000;
}
#page2{
                 width: 100%;
                 height: 40%;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 margin-top: 150px;
                 margin-bottom: 100px;
                 padding: 0 150px;
}
#page2 h1{
                 font-size: 60px;
                 font-weight: 550;
                 line-height: 1.2;
                 margin-left: 130px;
}
#page2 button{
                 width: fit-content;
                 padding: 10px 30px;
                 border: 1px solid #000;
                 font-size: 15px;
                 border-radius: 40px;
                 margin-left: 84.5%;
}
#page2 i{
                 font-size: 20px;
}
.page3{
                 width: 100%;
                 display: flex;
                 justify-content: space-between;
                 padding: 0 150px;
}
#page3-frame1{
                 margin-left: 130px;
}
#page3-frame3{
                 margin-left: 130px;
}
.imgs{
                 width: 580px;
                 height: 750px;
                 transition: all ease 1s;
                 background-position: center;
                 background-size: cover;
                 overflow: hidden;
}
.imgs img{
                 width: 580px;
                 transition: all ease .5s;
}
#img1{
                 background-image: url(https://uploads-ssl.webflow.com/62bb0b3df04e59c7a28affc4/63863b0a54103a7caea09991_ana-close.webp);
}
#img2{
                 background-image: url(https://uploads-ssl.webflow.com/62bb0b3df04e59c7a28affc4/63c18469f666f02099aaf4d0_63c182c56b0a24d21993d33b_print-2.webp);
}
#img3{
                 background-image: url(https://uploads-ssl.webflow.com/62bb0b3df04e59c7a28affc4/6447e13cc13f48334fb07bf2_tania-2.webp);
}
#img4{
                 background-image: url(https://uploads-ssl.webflow.com/62bb0b3df04e59c7a28affc4/6361331cd07eba06d0c99c96_print-close-2.webp);
}
.text h1{
                 margin: 10px 0;
                 font-weight: 520;
                 font-size: 35px;
}
.text h3{
                 margin: 10px 0;
                 font-weight: 520;
                 font-size: 20px;
                 letter-spacing: 2px;
                 margin-bottom: 50px;
}
.imgs img:hover{
                 opacity: 0;
                 scale: 2;
}
#flex{
                 display: flex;
                 overflow: auto;
                 flex-shrink: 0;
}
#flex::-webkit-scrollbar{
                 display: none;
}
.scroler{
                 width: 100%;
                 height: 125px;
                 margin-top: 200px;
                 background-color: #e4f250;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 flex-shrink: 0;
                 overflow: auto;    
                 position: relative;
                 animation: move 7s linear infinite normal;
}
.scroler img{
                 width: 50px;
                 height: 80px;
                 background-color: #e4f250;
                 display: flex;
                 overflow: auto;
                 flex-shrink: 0;
}
.scroler h1{
                 font-size: 50px;
                 flex-shrink: 0;
}
.scroler::-webkit-scrollbar{
                 display: none;
}
@keyframes move{
                 0%{
                                  transform: translate(0%);
                 }
                 100%{
                                  transform: translate(-100%);
                 }
}
#page4{
                 height:50%;
                 width: 100%;
                 background-color: #222;
                 display: flex;
}
#page4-part1{
                 height: 100%;
                 width: 65%;
                 padding-top: 85px;
                 padding-left: 170px;
                 flex-shrink: 0;
}
#page4-part1 h1{
                 font-size: 60px;
                 color: #fff;
                 font-weight: 500;
}
#page4-part2{
                 height: 100%;
                 width: 35%;
}
#page4-part2 button{
                 margin-top: 21%;
                 margin-left: 35%;
                 padding: 6px 28px;
                 font-size: 16px;
                 color: #fff;
                 border-radius: 40px;
                 border: 2px solid #fff;
                 background-color: transparent;
                 transition: all ease .5s;
}
#page4-part2 button i{
                 font-size: 27px;
                 opacity: .7;
}
#page4-part2  #icons{
                 width: 150px;
                 display: flex;
                 margin-top: 75px;
                 margin-left: 270px;
                 justify-content: space-between;
}
#page4-part2  #icons .circle{
                 width: 60px;
                 height: 60px;
                 border-radius: 50%;
                 background-color: #04c75c;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 transition: all ease .5s;
}
#page4-part2  #icons .circle i{
                 font-size: 30px;
}
#page5{
                 width: 100%;
                 height: 80%;
                 background-color: #222;
                 padding-left: 170px;
                 padding-top: 50px;
                 display: flex;
                 gap: 25px;
                 flex-shrink: 0;
                 overflow: auto;
}
#page5 .frame .image{
                 background-size: cover;
                 background-position: center;
                 overflow: hidden;
                 box-shadow: -5px -5px 20px 1px #000;
}
#page5 .frame .image img{
                 height: 390px;
                 transition: all ease 0.5s;
                 object-position: center;
                 object-fit: cover;
}
#page5 .frame .image1{
                 background-image: url(./images/63403102f05a3d5dbe2052bc_seb-hover.webp);
}
#page5 .frame .image2{
                 background-image: url(./images/6447e319a6b8e48a257d5526_artist-hover.webp);
}
#page5 .frame .image3{
                 background-image: url(./images/63402fcc7777b6c91548e383_illwookie-hover.webp);
}
#page5 .frame .image4{
                 background-image: url(./images/634032c7c1e9cbc18e9fd7e9_mateusz-hover.webp);
}
#page5 .frame .image5{
                 background-image: url(./images/64996566362d4092f1163a91_david-1.webp);
}
#page5 .frame .image6{
                 background-image: url(./images/651170899d82f34cf3c22958_artist-photo-1.jpg);
}
#page5 .frame .image7{
                 background-image: url(./images/63402f3fb2c39e6431f0c554_ana-hover.webp);
}
.image img:hover{
                 opacity: 0;
                 scale: 2;
}
#page5::-webkit-scrollbar{
                 display: none;
}
#page5 .frame h1{
                 color: #fff;
                 font-weight: 500;
                 padding-top: 25px;
}
#page5 .frame h1:hover{
                 color: #04c75c;
}
#page6{
                 width: 100%;
                 height: 88%;
                 display: flex;
                 align-items: center;
}
.page6-part{
                 width: 49.95%;
                 height: 100%;
                 padding: 7% 0;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
}
.page6-part img{
                 width: 22%;
}
.page6-part h1{
                 font-size: 60px;
                 font-weight: 500;
                 text-align: center;
                 padding-top: 55px;
                 padding-bottom: 45px;
}
.page6-part p{
                 font-size: 23px;
                 text-align: center;
}
#line{
                 width: 0.1%;
                 height: 74%;
                 background-color: #000;
}
#page7{
                 width: 100%;
                 height: 105%;
                 background-color: aqua;
}
#top7{
                 width: 100%;
                 height: 55%;
                 background-color: #0c00cd;
                 display: flex;
                 position: relative;
}
#top7 #star1{
                 height: 135px;
                 margin-top: 70px;
                 margin-left: 150px;
                 animation: rotate 7s linear infinite;
}
#top7 #star2{
                 height: 100px;
                 margin-left: 180%;
                 animation: rotate 7s linear infinite;
}
@keyframes rotate{
                 100%{
                                  rotate: 360deg;
                 }
}
#top7-center{
                 width: 40%;
                 height: 320px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 text-align: center;
                 flex-shrink: 0;
}
#top7-center h1{
                 font-size: 55px;
                 font-weight: 500;
                 margin-top: 40px;
                 color: white;
}
#top7-center p{
                 font-size: 26px;
                 font-weight: 400;
                 color: #fff;
                 margin: 25px 0;
}
#center1{
                 padding: 10px;
                 margin-top: 12px;
                 display: flex;
                 gap: 20px;
}
#email{
                 padding: 15px 60px;
                 font-size: 20px;
                 color: white;
                 border: none;
                 border-bottom: 2px solid black;
                 background-color: transparent;
}
#center1 button{
                 padding: 0 50px;
                 border-radius: 40px;
                 font-size: 17px;
                 border: none;
                 background-color: #04c75c;
                 transition: all ease 0.5s;
}
#bottom7{
                 width: 100%;
                 height: 50%;
                 padding: 90px 200px;
                 background-color: #222;
                 display: flex;
                 gap: 160px;
}
#bottom7 p{
                 font-size: 17px;
                 color: white;
                 margin-top: 40px;
}
#bottom7 h5{
                 font-size: 20px;
                 color: white;
                 line-height: 50px;
                 font-weight: 500;
}
#bottom7 h4{
                 font-size: 30px;
                 color: white;
                 margin-top: -10px;
                 margin-bottom: 27px;
                 font-weight: 420;
}
#bottom7 i{
                 font-size: 30px;
                 opacity: 0.7;
                 color: white;
                 margin-left: 15px;
}
#bottom7 h5:hover{
                 color: #04c75c;
}
#bottom7 h4:hover{
                 color: #04c75c;
}
#bottom7 i:hover{
                 color: #04c75c;
}